*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    padding-left: 300px;
    transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    text-align: center;
    padding-bottom: 300px;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 0.5;
  }
  .hover-image{
    width: 75px ;
    height: 50px;
    margin-left: 160px;
    margin-top: -150px;
  }
  
  .but {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .but:hover{
    background-color: white;
  }


html{
    font-size: 63%;
}
body{
    background-color: #4B4E6B;
    /* margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 20px; */
    font-family: sans-serif;
}

 .innereffect{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.555);
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform-origin:center;
}
.innereffect{
    text-align: center;
    color: white;
    padding: 8px;
    background-image: url(/images/eye.png);
}
img:hover{
    background-image: url(/images/eye.png);
}

img:hover .innereffect{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}   




.hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  a:hover .hover-image {
    display: block;
    width: 300;
    height: 250;
  }
.none{
    text-decoration: none;
}
main div a.none{
    background-color: none;
    color: none;
    font-size: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    text-decoration: none;
    font-weight: none;
    text-transform: none;
    letter-spacing: 0;
    box-shadow: 0;
    margin-top: 0;
}





/* NAVBAR */
.wrapper{
    margin: 0 auto;
}
.wrapper header a img{
    margin-left: 35px;
    /* border-radius: 50%; */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    /* background-color: #6e0d25; */
}
nav{
    margin: 50px;
    
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 5px 5px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 25px;
}
nav ul li a:active,nav ul li a:focus,nav ul li a:hover
{
    text-decoration:none;
    background-color: #d8a1e1;
      color: black;
      font-size: 25px;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
/* UPPER PORTION */
main .one , .two , .three{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 20px;
}
main img{
    align-items: center;
    border-radius: 5%;
    margin-bottom: 5px;
    margin-top: 15px;
    border: 3px solid black;
}
main div h2{
    color: white;
    font-size: 20px;
}
main div h3{
    color: white;
}
main div p{
    color: #D3D3D3;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: normal;
}
main div a{
    background-color: #ffffff;
    color: #000080;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    margin-top: 20px;
}
main div a:hover{
    /* background-color: #f0f0f0; */
    /* background-color: #add8e6; */
    /* background-color: #61BCC8; */
    background-color: #ffff99;
    /* color: #ccc0e6; */
    color: #46309C;
    font-weight: bolder;
}
.scroll{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
.scroll a{
    color: #800;
    font-size: 15px; 
}
.left-col , .mid-col , .right-col {
    flex: 1;
    margin-top: 10px;
}
.scroll h1 a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 29%;
}
.scroll p{
    color: #333;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: auto;
}
.left-col{
    width: 30%;
    align-items: center;
    text-align: center;
    margin-left: 5px;
}
.mid-col{
    width: 30%;
    align-items: center;
    text-align: center;
}
.right-col{
    width: 30%;
    align-items: center;
    margin-right: 0;
    text-align: center;
}
.scroll{
    text-align: center;
    padding-top: 40px;
}
.scroll img{
    margin-top: 10px;
}
footer{
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    margin-top: 35px;
    background:black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding: 0;
    color: whitesmoke;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
    color: white;
}
.footer-content h6{
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 35px;
}
.footer-content p{
    max-width: 1300px;
    /* margin: 0; */
    margin: 10px auto;
    line-height: 28px;
    font-size: 10px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
}
.footer-bottom p{
    margin-top: 0;
    font-size: 20px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    /* opacity: .4; */
    font-weight: 200;
}

.footer-links
{
  padding-left:0;
  list-style:none;
  display: flex; 
  gap: 25px; 
  font-size: 32px;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-links li
{
  display:block;
  color: whitesmoke;
}

.footer-links a
{
  color: whitesmoke;
  text-decoration: none;
  padding-top: 0;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  text-decoration:none;
  background-color: #d8a1e1;
    color: black;
    font-size: 22px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.footer-links.inline li
{
  display:inline-block
}

.menu a{
    /* display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding:1.5rem 2rem;
    color:white;
    transition: 1.5s; */
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 25px;
  }
  
  .menu a:hover{
    /* background:#06494a;
    font-weight: bold;
    font-size: 22px ; */
    text-decoration:none;
    background-color: #d8a1e1;
      color: black;
      font-size: 25px;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
  #menu-btn{
    padding: 0px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
  }

@media (max-width:700px)
{
    html body{
        overflow-x: hidden;
        max-width: 80%;
        box-sizing: border-box;
    }

    .wrapper a{
        display: inline;
        align-items: left;
        box-sizing: border-box;
    }
    .wrapper header a img{
        width: 260px;
        height: 125px;
        padding-left: 0;
        padding-top: 15px;
        margin-bottom: 15px;
        margin-left: 0%;
    }
    .hover-image{
      width: 40px ;
      height: 25px;
    }

    .header{
        position:absolute;
        top:0; left:0; right:0;
        display: inline-block;
        align-items:flex-end;
        width: 82.5%;
        padding:0%;
        margin-right: 0%;
        z-index: 300;
        background: black;
        box-shadow: none;
      }

    #menu-btn{
        display:block;
        padding-left: 60%;
        
      }
      .menu{
        flex-wrap: wrap;
        height: 600px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: black;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }


    .dactive{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .menu a{
        display: block;
        font-size: 2rem;
        color: white;
    }











    nav{
        overflow-x: hidden;
        text-align: right;
    }
  nav ul{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right;
  }
  nav ul li{
    padding: 5px;
    text-align: right;
  }
  nav ul li a{
    font-size: 20px;
  }
  footer{
    width: 100%;
    display: block;
    align-items: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
    align-items: center;
  }
  .footer-bottom{
    width: 100%;
    display: block;
  }
  .footer-bottom p{
    font-size: 22px;
  }
 
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
    margin-top: 250px;
  }
  
  .one, .two, .three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .left-col, .mid-col, .right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  main img{
    height: 200px;
    width: 200px;
    align-items: center;
    border: none;
  }
  .left-col h2,
  .left-col p,
  .mid-col h2,
  .mid-col p,
  .right-col h2,
  .right-col p {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline;
    box-sizing: border-box;
  }
 main p {
    font-size: 13px;
 }
 main h2{
    font-size: 20px;
 }
 main a{
    font-size: 15px;
 }
 
  
}